*{
    margin: 0;
    padding: 0;
}

.list-add-container{
    height: 250px;
    width: 200px;
    position: relative;
    background-color: gray !important;
    color: lightgray;
    border-radius: 8%;
}

.list-text-container{
    position: absolute;
    top: 75%;
    left: 30%;
}

.list-circle-container{
    position: absolute;
    top: 45%;
    left: 40%;
}

#add-circle{
    height: 80px;
    width: 80px;
}

.list-movie-img{
    height: 250px;
    width: 200px;
    border-radius: 7%;
    position: relative;
}

.list-stars-container{
    position: absolute;
    left: 75%;
}

#yellow-star{
    color: yellow;
}

#gray-star{
    color: lightgray;
}

.photo{
    height: 230px;
    width: 200px;
    border-radius: 7%;
}